.st-block(data-type='#{slug || type}').st-item-ready
  .st-block__inner
    .st-block-inner__errors
    .st-block-inner__content
    .st-block-inner__controls
  .st-block-controls__top(data-icon='add' data-position='#{position}').add-block
