// vars
$text-block-font-size = 1.275em
$text-block-font-color = #282D31
$accent-color = rgb(55, 130, 196)
$base-ui-color = #4285f4
$light-ui-color =  #CCCCCC
$blocks-control-bg-color = #F3F3F3
$error-color = #d70014
$inner-block-padding = 30px 30px 48px 30px
$block-controls-height = 164px
$block-add-height = 40px

@import 'inc/global.styl'
@import 'inc/blocks.styl'
@import 'inc/icons.styl'
@import 'inc/format-bar.styl'
@import 'inc/widgets.styl'